<% if @tasks.empty? %>
  <h1>You currently have no tasks</h1>
<% elsif @tasks.all.length == 1 %>
  <h1>You only have <%= @tasks.length %> task</h1>
<% else %>
  <h1>You currently have <%= @tasks.count %> tasks</h1>
<% end %>
<div class="row center dashboard-button">
  <div class="col-md-12 col-sm-12 for">
      <% @tasks.each do |task| %>
        <p class="task"><%= task.description %> for $<%= sprintf('%.2f', task.price) %> by <%= task.due_date %></p>
      <% end %>
  </div>
</div>
