<div class="row">
  <div class="col-md-12 col-sm-12">
    <% unless session[:parent_id].nil? %>
      <%= link_to 'Logout', logout_path, method: :delete, class: 'logout' %>
      <%= link_to 'Tasks', parents_path, class: 'logout' %>
      <%= link_to 'Account', edit_parent_path(session[:parent_id]), class: 'logout' %>
      <%= link_to 'Home', root_path, class: 'logout' %>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="col-md-12 col-sm-12">
    <% unless session[:logged_child_id].nil? %>
      <%= link_to 'Logout', child_logout_path, method: :delete, class: 'logout' %>
      <%= link_to 'Tasks', children_path, class: 'logout' %>
      <%= link_to 'Home', root_path, class: 'logout' %>
    <% end %>
  </div>
</div>