<section class="width: 100%;">
  <div class="row">
    <div class="col-md-6 col-sm-6 for">
      <h1><%=@child.first_name %>'s Tasks</h1>
      <% if @tasks.length == 0 %>
        <p class="task">You have no tasks</p>
        <% elsif @tasks.length == 1 %>
        <p class="task"><%= @tasks.description %> for $<%= sprintf('%.2f', @tasks.price) %></p>
        <% else %>
        <% @tasks.each do |task| %>
          <p class="task"><%= task.description %> for $<%= sprintf('%.2f', task.price) %></p>
        <% end %>
      <% end %>
    </div>
  <%= form_for(@task) do |f| %>
  <%= f.hidden_field :child_id, value: params[:child] %>
    <div class="col-md-6 col-sm-6">
      <h1>Add a Task for <%= @child.first_name %></h1>
      <p><%= f.text_field :description, class: 'form-control', placeholder: 'description' %></p>
      <p><%= f.number_field :price, class: 'form-control', placeholder: 'price' %></p>
      <p><%= date_field_tag :due_date, nil, class: 'form-control', placeholder: 'due date' %></p>
      <%= f.submit "Save Task", class: 'btn btn-primary save-task' %>
    </div>
  <% end %>
  </div>
</section>