<div class="row">
  <div class="col-md-12">
    <h1>Create an Account</h1>
  </div>
</div>

  <%= form_for(@parent) do |f| %>
  <section>
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <%= f.label :first_name, class: 'text' %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <%= f.text_field :first_name, class: 'form-control' %>
      </div>
    </div>
  </section>
  <section>
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <%= f.label :last_name, class: 'text' %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col sm-12">
        <%= f.text_field :last_name, class: 'form-control' %>
      </div>
    </div>
  </section>
  <section>
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <%= f.label :email, class: 'text' %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <%= f.email_field :email, class: 'form-control' %>
      </div>
    </div>
  </section>
  <section>
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <%= f.label :username, class: 'text' %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <%= f.text_field :username, class: 'form-control' %>
      </div>
    </div>
  </section>
  <section>
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <%= f.label :password, class: 'text' %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <%= f.password_field :password, class: 'form-control' %>
      </div>
    </div>
  </section>
  <section>
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <%= f.label :password_confirmation, class: 'text' %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <%= f.password_field :password_confirmation, class: 'form-control' %>
      </div>
    </div>
  </section>
  <div class="row">
    <div class="col-md-12 col-sm-12">
      <%= f.submit "Create Account", class: "btn btn-primary" %>
    </div>
  </div>

<% end %>

