<!DOCTYPE html>
<html>
<head>
  <title>TidyBank</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'partials/header' %>

<div class="row">
  <div class="col-md-12 col-sm-12">
    <header class="logo">
      <%= link_to image_tag('piggy_logo.png', size: "150"), root_path %>
    </header>
  </div>
</div>


<div class="row">
  <div class="container">
    <div class="notice">
      <% if flash.notice %>
        <%= flash.notice %>
      <% end %>
    </div>
    <%= yield %>
  </div>
</div>

<%= render 'partials/logger' %>
</body>
</html>
