<!DOCTYPE html>
<html>
<head>
  <title>TidyBank</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="row">
  <div class="col-md-12">
    <header class="logo">
      <%= link_to image_tag('piggy_logo.png', size: "150"), root_path %>
    </header>
  </div>
</div>

<% if session[:parent_id].nil? %>
  <%= link_to 'Login', login_path %>
  <% else %>
  <%= link_to 'Logout', logout_path, method: :delete %>
<% end %>

<div class="container">
<div class="notice">
  <% if flash[:notice] %>
    <%= flash[:notice] %>
  <% end %>
</div>
<div class="logged-in">
  <% if flash[:logged_in] %>
    <%= flash[:logged_in] %>
  <% end %>
</div>
<div class="error">
  <% if flash[:error] %>
    <%= flash[:error] %>
  <% end %>
</div>
  <%= yield %>
</div>


</body>
</html>
