<!DOCTYPE html>
<html>
<head>
  <title>TidyBank</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="row">
  <div class="col-md-12 col-sm-12">
    <% unless session[:parent_id].nil? %>
      <%= link_to 'Logout', logout_path, method: :delete, class: 'logout' %>
      <%= link_to 'Tasks', parents_path, class: 'logout' %>
      <%= link_to 'Account', edit_parent_path(session[:parent_id]), class: 'logout' %>
      <%= link_to 'Home', root_path, class: 'logout' %>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="col-md-12 col-sm-12">
    <% unless session[:log_in_child_id].nil? %>
      <%= link_to 'Logout', child_logout_path, method: :delete, class: 'logout' %>
      <%= link_to 'Tasks', children_path, class: 'logout' %>
      <%= link_to 'Account', edit_child_path(session[:log_in_child_id]), class: 'logout' %>
      <%= link_to 'Home', root_path, class: 'logout' %>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-md-12 col-sm-12">
    <header class="logo">
      <%= link_to image_tag('piggy_logo.png', size: "150"), root_path %>
    </header>
  </div>
</div>


<div class="row">
  <div class="col-md-12 col-sm-12">
    <div class="container">
<div class="notice">
  <% if flash[:notice] %>
    <%= flash[:notice] %>
  <% end %>
</div>
<div class="logged-in">
  <% if flash[:logged_in] %>
    <%= flash[:logged_in] %>
  <% end %>
</div>
<div class="error">
  <% if flash[:error] %>
    <%= flash[:error] %>
  <% end %>
</div>
  <%= yield %>
</div>
  </div>
</div>




</body>
</html>
